  $fontsize: 13px;
  $bg: blue;
  $tag: #FFFFFF;
  $taghover: #F2DFF2;
  $text: #000000;
  $bg-white: white;
  $dg: 45deg; 

 .tag {
    display: inline-block;
    padding: 0.3em 1.6em;
    background-color: $bg-white;
    position: relative;
    margin: 0 0 0 0.9em;
    line-height: 1.17;
    color: black;
    text-decoration: none;
    margin: 0.5em 0.5em 0.5em 1.4em;    
}
  
.tag::before {
    content: '';
    position: absolute;
    height: 1.25em;
    width: 1.25em;
    top: 0;
    left: 0;
    -webkit-transform-origin: top left;
    -moz-transform: rotate($dg);
    -ms-transform: rotate($dg);
    -webkit-transform: rotate($dg);
    -webkit-transform: rotate($dg);
    background: -moz-radial-gradient(circle 1em at 40% 60%, rgba(0, 0, 0, 0) 0.19em, $tag 0.2em, $tag);
    background: -webkit-radial-gradient(circle 1em at 40% 60%, rgba(0, 0, 0, 0) 0.19em, $tag 0.2em, $tag);
    background: radial-gradient(circle 1em at 40% 60%, rgba(0, 0, 0, 0) 0.19em, $tag 0.2em, $tag);
    z-index: -1;
}

.tag:hover {
    top: -2px; 
    margin: 0.5em 0.5em 0.5em 1.4em;
    background: $taghover;
}
  
.tag:active {
  top: 1px;
}


.big {
  font-size: 1.5em;
}
.giant {
  font-size: 2.5em;
}

body {
  color: $text;
  margin: 0;
  font-family: Droid Sans, sans-serif;
  font-size: $fontsize;
  word-spacing: 2px;
  text-align: center;
  background: $bg;
}

#content {
  margin: 100px auto 0;
}